{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<!-- Title -->
<section id="register-form">

    <div class="container-fluid">
        {% include "navbar.html" %}
        <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-4 col-md-10 mx-auto">
                {% with messages = get_flashed_messages(category_filter=("error")) %}
                {% if messages %}
                {% for message in messages %}
                <p class="error_message">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=("message")) %}
                {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>

</section>


{% include "footer.html" %}

